* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  color: white;
}

body,
html {
  height: 100vh;
}
body {
  background-color: #000;
}
html {
  scroll-behavior: smooth;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  outline: none;
  border: none;
  background-color: inherit;
}
